# Folder of CPP Programs
CPP-Programs/

# Folder of DCN Practicals
Data-Communication-and-Networking/Practicals/

#Files of DWDM Practical
Data-Warehousing-and-Data-Mining/Practical-Stuffs/12108348 - Aniket Kumar.odt
Data-Warehousing-and-Data-Mining/Practical-Stuffs/12108348 - Aniket Kumar.pdf

#Folder of Linux Practical
Linux/Practical-Class/

#Assignment Folder
Assignments/CA1/MyFiles/*
