# Folder of CPP Programs
Semester1/CPP-Programs/

# Folder of DCN Practicals
Semester1/Data-Communication-and-Networking/Practicals/

#Files of DWDM Practical
Semester1/Data-Warehousing-and-Data-Mining/Practical-Stuffs/12108348 - Aniket Kumar.odt
Semester1/Data-Warehousing-and-Data-Mining/Practical-Stuffs/12108348 - Aniket Kumar.pdf

#Folder of Linux Practical
Semester1/Linux/Practical-Class/

#Assignment Folder
Semester1/Assignments/CA1/MyFiles/*
Semester1/Assignments/CA3/MyFiles/*
Semester2/Assignments/CA1/MyFiles/*
Semester2/Assignments/CA2/MyFiles/*
Semester2/Assignments/CA3/MyFiles/*
Semester3/Assignments/CA1/MyFiles/*
Semester3/Assignments/CA2/MyFiles/*
Semester3/Assignments/CA3/MyFiles/*
Semester3/Assignments/CA4/MyFiles/*

#PEP CPrograms
PEP/CPrograms/*

#PEP .vscode
PEP/.vscode/

#PEP Applications Folder
PEP/Applications

# Web Codes
Semester2/WebTechnologies/Codes/

#Java Programs
#Semester2/Java/JavaPrograms/

# ignore files withot extension

# Cloud Computing MyFiles
Semester2/CloudComputing/MyFiles/

# Semester3 MyFiles
Semester3/Python/PracticalStuffs/MyFiles/
Semester3/SeminarOnSummerTraining/MyFiles/
Semester3/CAP831/MyFiles/


# Semester4 MyFiles
Semester4/CAP841/MyFiles
