# Folder of CPP Programs
Semester1/CPP-Programs/

# Folder of DCN Practicals
Semester1/Data-Communication-and-Networking/Practicals/

#Files of DWDM Practical
Semester1/Data-Warehousing-and-Data-Mining/Practical-Stuffs/12108348 - Aniket Kumar.odt
Semester1/Data-Warehousing-and-Data-Mining/Practical-Stuffs/12108348 - Aniket Kumar.pdf

#Folder of Linux Practical
Semester1/Linux/Practical-Class/

#Assignment Folder
Semester1/Assignments/CA1/MyFiles/*
Semester1/Assignments/CA3/MyFiles/*

#PEP
PEP/

#Java Programs
#Semester2/Java/JavaPrograms/
